@media (max-width: 550px) {
    .hide-mobile {
      display: none;
    }
  }
  
  @font-face {
      font-family: 'Reenie Beanie';
      src: url(https://discordapp.com/assets/4b861c4f9cb4e4fbec1662f6c6e9186f.woff) format('woff')
  }
  
  @font-face {
      font-family: Whitney;
      font-style: light;
      font-weight: 300;
      src: url(https://discordapp.com/assets/16801bfdf51ed88e69bc90626a3ea436.woff) format('woff')
  }
  
  @font-face {
      font-family: Whitney;
      font-style: normal;
      font-weight: 500;
      src: url(https://discordapp.com/assets/d153359b5d87601d2b9c708b7ae2db02.woff) format('woff')
  }
  
  @font-face {
      font-family: Whitney;
      font-style: medium;
      font-weight: 600;
      src: url(https://discordapp.com/assets/a934ab008c7f6a2274ec441f6be0696a.woff) format('woff')
  }
  
  @font-face {
      font-family: Whitney;
      font-style: semibold;
      font-weight: 650;
      src: url(https://discordapp.com/assets/877ef48bf9fcfee590f0ba64de101b59.woff) format('woff')
  }
  
  @font-face {
      font-family: Whitney;
      font-style: bold;
      font-weight: 700;
      src: url(https://discordapp.com/assets/2e004dd717cdc58b9ccb361d286ebbce.woff) format('woff')
  }
  
  @font-face {
      font-family: SourceCodePro;
      font-style: normal;
      font-weight: 500;
      src: url(https://discordapp.com/assets/748ac49ebe4bf0ddfe85c005be7c64c4.woff) format('woff')
  }
  body {
      background: #2C2F33;
          color: rgba(255, 255, 255, 0.6);
          font-size: 16px;
          height: 100%;
          width: 100%;
          font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
          margin: 0;
          font-weight: 300;
  }
  
  code {
      font-family: SourceCodePro;
  }
  
  #wrapper {
      margin: 0;
      height: 100%;
      width: 100%;
  }
  
  footer {
      background: #23272A;
      padding-top: 20px;
      margin-top: 150px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
      color: #ffffff;
      font-weight: 500;
  }
  
  h1 {
      text-align: center;
  }
  
  h2 {
      font-weight: 500;
      font-size: 20px;
  }
  
  p {
      line-height: 27px;
      font-size: 17px;
  }
  
  .logo {
      margin: 20px;
  }
  
  .centre {
      text-align: center;
  }
  
  header {
      top: 0;
      left: 0;
      background-image: url(https://discordapp.com/assets/697e63f59d8a1e1673fd9b551f674d1f.png);
      background-size: 270px 213px;
      width: 100%;
      padding-top: 40px;
      padding-bottom: 40px;
      margin-bottom: 50px;
  }
  
  header .limit {
      max-width: 460px;
      text-align: center;
      margin: 0 auto;
  }
  
  header p {
      box-shadow: 0 0 25px 1px rgba(114, 137, 218, 0.53);
  }
  
  .section {
      max-width: 800px;
      margin: 0 auto;
      padding-bottom: 15px;
  }
  
  .button-wrapper {
      position: relative;
      margin: 0px auto;
      max-width: 400px;
  }
  
  .btn {
      display: block;
      color: #7289da;
      background-color: #fff;
      border-radius: 3px;
      width: 100%;
      margin: 0 auto;
      padding: 25px 0;
      text-decoration: none;
      font-weight: 600;
      font-size: 22px;
      top: -2px;
      position: absolute;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
      transition: all .3s cubic-bezier(.25, .25, .315, 1.35), top .1s linear;
  }
  
  .btn-blue {
      color: #fff;
      background-color: #7289da;
  }
  
  .button:hover {
      top: 0;
      box-shadow: none;
      color: #fff;
  
  }
  
  a {
      text-decoration: none;
      color: #7289da;
      transition: all .3s cubic-bezier(.25, .25, .315, 1.35), top .1s linear;
  }
  a:hover {
      color: #7890e7;
  }
  
  .codeblock {
      background: #2e3136;
      border: 2px solid #282b30;
      border-radius: 5px;
      box-sizing: border-box;
      padding: 8px;
      font-family: Consolas,Liberation Mono,Menlo,Courier,monospace;
  }
  
  .codeblock .code-blue {
      color: #268bd2;
  }
  
  .codeblock .code-gold {
      color: #b58900;
  }
  
  .codeblock .code-red {
      color: #cb4b16;
  }
  
  .codeblock .code-green {
      color: #2aa198;
  }
  
  .codeblock .code-yellow {
      color: #859900;
  }
  
  .text-badge {
      background-color: #7289da;
      color: white;
      border: 1px solid #7289da;
      border-radius: 4px;
      text-transform: uppercase;
      font-size: 12px;
      padding: 2px 3px;
      position: relative;
      left: 3px;
      vertical-align: middle;
      letter-spacing: 0px;
  }
  
  .navbar {
      margin: 0px 30px;
      font-size: 110%;
  }
  
  .navbar a {
      float: left;
      color: #fff !important;
  }
  
  .navbar .right {
      float: right !important;
  }
  